*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    ;
}
body {
    background-color: black;
    background-image: url('https://wallpapercave.com/wp/wp8638834.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;}
h1{
    background-color: white;
    font-size: 5vw;
    text-align: center;
    margin-top: 1%;
    letter-spacing: 5px;
    text-transform: uppercase;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.592);
    margin-top:100px;
}
.options{
    position: relative;
    display: flex;
    margin-top: 5%;
    font-size:2vw;
    flex-direction: column;

}

#box
{
    position: static;
    width: 80%;
    height: fit-content;
    border-style: 0 0 5px gray;
    background-color: #f8f8f8;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
#box h2{
    margin-top: 5%;
    font-size:3vw;
      
}
.options{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 5%;
 
    font-size:2vw;

}
button{
    width: 30%;
    padding: 1vh;
    font-size:2vw;
    background: linear-gradient(to right,rgb(5, 106, 137),rgb(0, 153, 255));
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.461);
    position: relative;
    margin: 0 auto;
    margin-left: 0;
    bottom: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
    
}
button:hover{
    background-image: linear-gradient(to right,rgb(198, 221, 228),rgb(0, 153, 255));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.461);
}
.result{
    margin-top: 0;
  font-size:2vw;
  gap: 20px;
  position: relative;
  bottom: 0;
  margin-top: 3px;
}
